body {
    background-color: paleturquoise;
}

.title {
color: rgb(31, 102, 165);
height: 5vh;
background-color: orange;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dummydatabox {
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

footer {
    color: rgb(31, 102, 165);
    height: 5vh;
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}